.Details {
  color: rgb(12, 12, 12);
}
.Details div {
  margin-top: 1%;
}

.Details h4 {
  margin: 5%;
  font-weight: bold;
}

.Details h2 {
  font-weight: bold;
}

.Border {
  background-color: rgba(255, 255, 255, 0.4);
  margin-bottom: 5%;
  border-radius: 15%;
}

.Border p {
  font-size: x-large;
  font-weight: normal;
  margin: 5%;
}
