.Home {
  background-image: url("../../assets/BackgroundImg.jpg");
  background-repeat: no-repeat;
  background-position: top, bottom;
  background-size: cover;
  width: 100%;
  height: fit-content;
  margin: 0%;
}

.Name {
  width: 20em;
  font-size: x-large;
  margin-top: 10%;
  margin-bottom: 5%;
}

.Info {
  display: grid;
  justify-content: center;
  align-items: center;
  color: rgb(12, 12, 12);
  margin-top: 5%;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 15%;
}

.Info h3 {
  font-size: xx-large;
}
.Info p {
  font-size: larger;
  font-weight: bold;
}

.TechStack {
  border: 1px solid rgb(12, 12, 12);
  border-radius: 10%;
  margin-bottom: 5%;
}

.TechStack:hover {
  background-color: rgba(12, 12, 12, 0.2);
  border: 1px solid rgb(250, 250, 250);
  color: rgb(250, 250, 259);
}

@media (max-width: 700px) {
  .Name {
    width: fit-content;
  }
}
