.Card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  border: 2px solid rgb(32, 32, 32);
  border-radius: 5%;
}

.Card h3 {
  font-size: xx-large;
  font-weight: bold;
}

.Card p {
  margin-top: 3%;
}

.Image {
  width: 30em;
  margin-top: 3%;
  border: 2px solid white;
  border-radius: 5%;
}

.Footer {
  font-weight: bold;
}

@media (max-width: 880) {
  .Card {
    width: 10em;
  }
}
