.ContactPage {
  background-image: url("../../assets/BackgroundImg2.jpg");
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.Contact {
  display: inline-block;
  align-items: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

.Button {
  width: 5rem;
}

.Button label {
  font-weight: bold;
}

.Button:hover {
  transform: scale(1.2);
  transition: 0.2s;
}

.ButtonGroup {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 1000) {
  .EmailForm {
    height: fit-content;
    width: 50%;
  }

  .ButtonGroup {
    justify-content: space-around;
  }
}
