.Form {
  width: 25em;
  margin-top: 5%;
  border: 1px solid white;
  border-radius: 15%;
  background-color: rgba(12, 12, 12, 0.4);
  display: flex;
  justify-content: center;
}

.Form label {
  margin: 5%;
  display: block;
}

.Form input {
  width: 20em;
}

.Form textarea {
  width: 20em;
  height: 10em;
}

.InputField {
  color: white;
}

.Submit {
  color: white;
  background-color: inherit;
  max-width: 3rem;
  display: flex;
  justify-content: center;
}

.Form button {
  margin-bottom: 5%;
}

@media (max-width: 1000) {
  .Form input {
    width: 10em;
  }

  .Form textarea {
    width: 10em;
    height: 10em;
  }

  .Form {
    width: 15em;
  }
}
