.Form {
  width: 30em;
  border: 1px solid white;
  border-radius: 15%;
  background-color: rgba(12, 12, 12, 0.4);
  display: flex;
  justify-content: center;
}

.Form label {
  margin: 5%;
}

.Form input {
  width: 25em;
}

.Form textarea {
  width: 25em;
  height: 10em;
}

.InputField {
  margin: 5%;
  color: white;
}

.Submit {
  color: white;
  background-color: inherit;
  max-width: 3rem;
  display: flex;
  justify-content: center;
}

.Form button {
  margin-bottom: 5%;
}
