.ProjectPage {
  background-image: url("../../assets/ProjectPageImg.jpg");
  background-repeat: no-repeat;
  background-position: top, bottom;
  background-size: cover;
  width: 100%;
  height: fit-content;
  margin: 0%;
}

.ProjectCards {
  background-color: rgba(255, 255, 255, 0.4);
  width: 40em;
  border-radius: 10%;
}

@media (max-width: 880) {
  .ProjectCards {
    width: fit-content;
  }
}
