.ProjectPage {
  background-image: url("../../assets/AboutImg.jpg"),
    url("../../assets/ProjectPageImg.jpg");
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: left, right;
  background-size: 50%, 50%;
  display: flex;
  justify-content: center;
  height: 100%;
}

.ProjectCards {
  width: max-content;
  border-radius: 10%;
  margin-top: 2%;
  margin-bottom: 2%;
  display: flex;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.4);
}

@media (max-width: 1000) {
  .ProjectPage {
    background-position: top, bottom;
  }
}
